BODY {
  margin: 2em 1em 2em 30px;
  font-family: Verdana, Arial, Helvetica, sans-serif;  
  color: black;
  background: white;
}

DIV.navbar {
 font-size: smaller;
}

h2.headline {
  background: eeeeee;

}

span.date {
  border-style: inset;
}

H1, H2, H3, H4, H5 {
  text-align: left;
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  color: black;
  background: white;
}

DIV.splashbox {
  float: right;
  width: 30%;
  padding: 2px;
}

DIV.splashblurb {
  float: left;
  width: 60%;
  padding: 3px;
}

DIV.bottom {
  clear: both;
}

a:hover	{ 
  background: #cccccc;
  text-decoration: underline;
}
